<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Contacts </title>
</head>
<body style="background-color: #192734">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <nav class="navbar" style="background-color: #c967f0">
         <a class="navbar-brand" style="color: greenyellow"><b>Bollywood movie RECOMMENDER </b></a>
         <ul class="nav navbar-nav">
             <li><a href="/" style="color: #12033b; font-size: medium">HOME</a></li>
             <li><a href="/recommend" style="color: #12033b; font-size: medium">RECOMMEND</a></li>
             <li><a href="/kids_content" style="color: #12033b; font-size: medium">KIDS</a></li>
             <li><a href="/filters" style="color: #12033b; font-size: medium">Filter</a></li>
             <li><a href="/contact" style="color: #12033b; font-size: medium">CONTACT</a></li>
         </ul>
   </nav>

   <h3 style="color: greenyellow"> About app: </h3>
   <p style="color: white; font-size: 20px"> This is a simple book recommender. Which recommend you Top 50 books and also recommend as per your input top 5 nearest book. If you have any question please contactc us. </p>
  <div style="margin-left: 0px">
      <h3 style="color: greenyellow"> Contact us on: </h3>
      <div style="margin-left: 10px">
          <h4><a href="https://www.instagram.com/devanshshah2002/" style="color: lightpink"> Instagram: devanshshah2002 </a></h4>
         <h4 style="color: lightpink"> shahdevansh02@gmail.com </h4>
         <h4 style="color: lightpink"> 8780628922 </h4>
      </div>
  </div>

       <h3 style="color: white; margin-left: 550px "> Created by : Devansh Shah </h3>



</body>
</html>